<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="icon" href="/img/weather.png">
	<title>{{title}}</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Randy. It uses data from mapbox.com and weatherstock.com</p>
		<img class="portrait" src="/img/rorschach_inkblot.jpg">
	</div>
	{{>footer}}
</body>
</html>