<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="icon" href="/img/weather.png">
	<title>{{title}}</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>{{helpMessage}}</p>
	</div>
	{{>footer}}
</body>
</html>